/******** GENERAL STYLING ********/

@font-face {
  font-family: "AbjectFailure";
  src: url("./AbjectFailure.otf") format("opentype");
}

@font-face {
  font-family: "Alpenstube";
  src: url("./Alpenstube.otf") format("opentype");
}

h1, h2, h3 {
  font-family: "AbjectFailure";
}

body {
  font-family: "Alpenstube", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  margin: 1vw;
  width: 100px;
  height: 30px;
  border-radius: 20.5px;
  background-color: #25dd6a;
  font-family: Alpenstube;
  font-size: 1em;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.25px;
  color: #ffffff;
}


.green-color {
  color: #25dd6a;
}

.red-color {
  color:  #cb0002;
}

.white-color {
  color: white;
}

.material-icons {
  color: #cb0002;
  font-size: 2em;
}

.material-icons:hover {
  transform: scale(1.2);
  border: 3px solid black;
  border-radius: 15px;
  transition: all 0.5s ease;
}

/******** HEADER STYLING ********/
header {
  font-family: 'AbjectFailure', cursive;
  /* text-align: left; */
  /* padding: 2rem; */
  /* margin-left: 5vw; */
  /* position: fixed; */
  height: 12vh;
  width: 100%;
  /* top: 0; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.logo-img {
  margin: 10px;
  width: 152px;
  height: 75px;
  object-fit: contain;
}

.welcome-div a:hover {
  color: #25dd6a;
  border-bottom: 1px solid #cb0002;
}

/* #hero-pic {
  width: 100%;
  height: 50vh;
  object-fit: cover !important;
  border-radius: 150px 0 0 0; 
} */

#gallery-div {
  height: 400px;
}

.GalleryImage img {
  margin: 0 !important;
  /* margin-right: 0 !important; */
  width: 100% !important;
  border-radius: 150px 0 0 0;
}

.Oval {
  width: 163px;
  height: 42px;
  border-radius: 25.5px;
  border: solid 3px #030303;
  color: black;
}

.welcome-div button:hover {
  background-color: white;
  color: #25dd6a;
  border: 5px solid black;
  transition: all 0.5s ease;
}

.remove-top-margin {
  margin-top: 0;
}

/******** HERO STYLING ********/
#hero-section {
  display: grid;
  grid-template-columns: 15% 25% 60%;
  text-align: center;
}

#hero-text h1 {
    font-family: AbjectFailure;
    font-size: 2.5em;
    line-height: 1.21;
    color: #cb0002;

}

#hero-text-h2 {
  font-family: Alpenstube;
  font-size: 2em;
  font-weight: normal;
  color: black;
  padding-left: 20px;
  padding-right: 20px;

}
#green-border {
  width: 100%;
  height: 50px;
  position: relative;
  top: -25px;
  background-color: #25dd6a;
}

.Gallery__Indicators {
  display: none !important;
}

/******** GIFT BY AGE STYLING ********/
.show-gifts-oval {
  width: 153px;
  height: 50px;
  border-radius: 20.5px;
  background-color: #cb0002;
  font-family: Alpenstube;
  font-size: 1.2em;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.57px;
  color: #ffffff;
}

.show-gifts-oval:hover {
  background-color: white;
  color: #cb0002;
  border: 5px solid black;
  transition: all 0.5s ease;
}

#ages-heading-div {
  color: #cb0002;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  top: -25px;
}

#ages-heading-div img, #profile-heading-div img {
  height: 100px;
  margin: 10px;
}

.age img, #new-gift-img {
  -webkit-transition: -webkit-transform .8s ease-in-out;
  transition: transform .8s ease-in-out;
}

#new-gift-img {
  height: 40px;
  width: 40px;
  object-fit: contain;
  margin-right: 10px;
  margin-top: -10px;
}

.age img {
  margin: 50px 0 0 0;
  height: 150px;
  width: 150px;
}

.age img:hover, #new-gift-img:hover {
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
}

.age h3 {
  margin-top: 0;
  margin-bottom: 0;
}


/******** HOMEPAGE STYLING ********/
#ages-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  text-align: center;
  position: relative;
  top: -25px;
}

#border {
  width: 1034px;
  height: 1px;
  border: solid 1px #979797;
  position: relative;
  top: -25px;
  margin: 0 auto;
}
.profile-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 3vw;
}

#profile-heading-div {
  color: #cb0002;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
}

#profile-heading-div {
  width: 150px;
}

#profile-hero-div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
#profile-hero-div img {
  height: 200px;
}
.profile-div img {
  height: 300px;
  width: 300px;
  object-fit: contain;
}

#hero-horse img {
  margin-top: 40px;
}

#add-gift-div {
  margin-top: 100px;
  margin-left: 50px;
  padding: 12px;
  border-radius: 50px;
  border: 3px solid black;
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#gifts-profile-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
}

#profile-header {
  text-align: center;
  color: #cb0002;
  width: 50%;
}

#profile-border {
  width: 800px;
  height: 1px;
  border: solid 1px #979797;
  position: relative;
  margin: 20px auto;
}

.new-gift-div {
  margin-bottom: 20vh;
}

.gift {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.gift h3 {
  margin: 0 auto;
  height: 100px;
  width: 250px;
  text-align: center;
}

.gift img {
  margin-top: 20px;
}

.buy-gifts-oval {
  width: 100px;
  height: 30px;
  border-radius: 20.5px;
  background-color: #cb0002;
  font-family: Alpenstube;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.25px;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/******** PROFILE PAGE STYLING ********/

.edit-delete-icons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 120px;
  height: 40px;

}

.edit-icon {
  color: royalblue;
}

/******** GIFTS-BY-AGE STYLING ********/
.price-box {
  height: 450px;
  width: 150px;
  background-color: #25dd6a;
  color: black;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 2vw;
}

.price-box h2 {
  text-align: center;
}

.gifts-by-price-div {
  display: flex;
  flex-direction: row;
  justify-content: start;
  overflow: hidden;
  width: 100%;
  height: 450px;
}

/******** FORMS STYLING ********/

.create-form, .new-gift-form, .auth-container, #edit-form,#login-form, #register-form {
  display: flex;
  flex-direction: column;
  text-align: left;
  align-items: center;
}

form button:hover {
  background-color: white;
  color: #25dd6a;
  border: 5px solid black;
  transition: all 0.5s ease;
}

.new-gift-form, #edit-form {
  width: 50%;
}


.form-line p {
  width: 100px;
}

.form-line {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 60vw;
}

form button {
  margin-top: 30px;
  height: 50px;
}

.gender {
  margin-top: 20px;
  width: 200px;
}

.register-link {
  color: blue;
}

/* Style inputs with type="text", select elements and textareas */
input {
  width: 100%; /* Full width */
  height: 50px;
  padding: 10px; /* Some padding */ 
  margin: 10px;
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  cursor: pointer;
} 

textarea {
  width: 100%;
  height: 140px;
  padding: 10px 20px;
  margin: 10px;
  box-sizing: border-box;
  resize: none;
  border-radius: 4px;
  cursor: pointer;
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: #818BA6;
  color: black;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin: 10px;
  width: 50%;
  height: 20%;
  margin: 10px auto;
  opacity: 0.6;
  transition: 0.3s;
  font-size: .5em;
}

input:hover, textarea:hover {
  border-block-color: #3B87FD;
}

#register-form h3 {
  width: 40%;
}

#register-form input,#login-form input {
  width: 350px;
}

#invalid-response-div {
  display: flex;
}

#invalid-response-div img {
  height: 200px;
}

/******* RAINBOW BUTTON *******/
.rainbow-wrapper { 
background: linear-gradient(124deg, #ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3, #dd00f3);
background-size: 1800% 1800%;

-webkit-animation: rainbow 18s ease infinite;
-z-animation: rainbow 18s ease infinite;
-o-animation: rainbow 18s ease infinite;
  animation: rainbow 18s ease infinite;}

@-webkit-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@-moz-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@-o-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@keyframes rainbow { 
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}

/******* STYLED SELECT FORM *******/

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.select-option {
  -webkit-appearance: none !important;
  -moz-appearance: none !important;
  appearance: none !important;
  background:red;
  display:block;
  width:20px;
  height:40px;
  border:2px solid black;
}

/* Remove arrow from select elements in IE */
::-ms-expand {
  display: none;
}

.select-wrapper {
  overflow: hidden;
  display:inline-block;
  border: 1px solid #c8c8c8;
  background:transparent;
  padding: 0;
  height: 50px;
  min-width: 200px;
  max-width: 300px;
}

.select-wrapper select {
  -webkit-appearance: none;
  background: transparent;
  font-weight: 400;
  font-size: 12pt;
  font-family: 'Open Sans Regular', Arial, Arial;
  border-radius: 0;
  padding: 0 0 0 1.25em;
  width: 100%;
  height: 100%;
  border: none;
}

.select-icon {
  position:relative;
  bottom:51px;
  float:right;
  height:100%;
  border:1px solid #C8C8C8;
  border-right:none;
  pointer-events:none;
}

/* MEDIA QUERY FOR SMARTPHONES */
@media only screen 
  and (max-width: 560px){
    html {
      font-size: 14px;
    }
 

  #gallery-div {
    display: none;
  }

  #ages-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  #hero-section {
    grid-template-columns: 45% 55%;
  }

  .Oval {
    width: 120px;
  }

  #register-form input, #login-form input {
    width: 250px;
  }

  .logo-img {
    width: 120px;
    height: 60px;
  }

  #profile-hero-div img {
    height: 120px;
    width: 120px;
    margin: 20px;
  }

  #profile-header {
    width: 80%;
    margin: 0 auto;
    text-align: start;
    line-height: 120%;
  }

  #profile-header h1{
    font-size: 1.5em;
  }

}